aiohttp==3.9.5
aiosignal==1.3.1
attrs==23.1.0
frozenlist==1.4.0
idna==3.6
multidict==6.0.4
six==1.16.0
yarl==1.9.3
rich==13.7.0
Flask==3.0.3
requests==2.31.0
discord.py-self @ git+https://github.com/dolfies/discord.py-self.git